body {
	margin: 0;
	background: #ddd;
}
.contenedor {

	display: flex;
	justify-content: center;
}

.caja {

	margin: 150px  15px;
	width: 150px;
	height: 150px;
	background: crimson;
	color: #fff;
	font-size: 40px;
	text-align: center;
	line-height: 150px;
	transition: all 3s;
}

.trapecio {

	margin: 150px  15px;
	width: 250px;
	height: 0px;
	border-right: 60px solid transparent;
	border-left: 60px solid transparent;
	border-top: 100px solid #000080;
	color: #fff;
	font-size: 40px;
	text-align: center;
	line-height: -250px;
}

.triangulo {

	width: 0;
	height: 0;
	border-right:100px solid transparent;
	border-top:100px solid transparent;
	border-left:100px solid transparent;
	border-bottom:100px solid transparent #800000;
	font-size: 40px;
	text-align: center;
	line-height: 50px;
}
.circulo {
	width: 100px;
	height: 100px;
	-moz-burder-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #008080;
	color: #fff;
 	font-size: 30px;
	text-align: center;
	line-height: 100px;
}



.caja:nth-child(1): {


}

.caja:nth-child(1):hover {
background: purple;
transform: Translate(100px,50px)
}


.trapecio:nth-child(1): {


}

.trapecio:nth-child(1):hover {
background: purple;
transform: TranslateX(100px)
}



